{% extends 'base.html' %}

{% block title %}휴가관리{% endblock %}

{% block stylesheet %}
  <style>
    #content {
      padding-right: 30%;
    }
    .ui.action.file.input > input { display: none; }
    .ui.action.file.input:not([class*="left action"]) > label { border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; border-right-color: transparent !important; }
    .ui.action.file.input > label:first-child { cursor: pointer; width: auto; -webkit-box-flex: 1; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; flex: 1 0 auto; outline: 0; -webkit-tap-highlight-color: rgba(255,255,255,0); padding: .67861429em 1em; background: #FFF; border: 1px solid rgba(34,36,38,.15); color: rgba(0,0,0,.87); border-radius: .28571429rem; -webkit-transition: box-shadow .1s ease,border-color .1s ease; transition: box-shadow .1s ease,border-color .1s ease; box-shadow: none; }
    .ui.action.file.input > label:last-child { border-radius: 0 .28571429rem .28571429rem 0 !important; }
  </style>
{% endblock %}

{% block content %}
  <form class="ui form" action="" method="POST" id="vacation_form" enctype="multipart/form-data">{% csrf_token %}
    <div class="field">
      <label>이름</label>
      <input type="text" value="{{ request.user.name }}" readonly=""/>
    </div>
    <div class="field">
      <label>휴가 종류</label>
      <input type="text" value="{{ vacation.get_type_display }}" readonly=""/>
    </div>
    <div class="field">
      <div class="ui form">
        <div class="two fields">
          <div class="field">
            <label>시작일</label>
            <div class="ui calendar" id="rangestart">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="시작일" name="start_date" value="{{ vacation.start_date|date:"Y-m-d H:i:s" }}" readonly="readonly">
              </div>
            </div>
          </div>
          <div class="field">
            <label>종료일</label>
            <div class="ui calendar" id="rangeend">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" placeholder="종료일" name="end_date" value="{{ vacation.end_date|date:"Y-m-d H:i:s" }}" readonly="readonly">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <label>사용일수</label>
      <input type="text" value="{{ vacation.using_date }} 일" readonly=""/>
    </div>
    <div class="field">
      <label>사유</label>
      <textarea rows="4" readonly="readonly">{{ vacation.reason }}</textarea>
    </div>
    {% if vacation.document %}
      <div class="field">
        <div class="ui action file input"><a href="{{ vacation.document.url }}">{{ vacation.document.name }}</a>
        </div>
      </div>
    {% endif %}
    {% for message in messages %}
      <div class="ui {{ message.tags }} message">
        <div class="header"></div>
        <p>{{ message }}</p>
      </div>
    {% endfor %}
    <br/>
    {% if request.user.is_team_leader %}
      <input class="ui green button" type="submit" name="_approve" value="승인하기"/>
      <input class="ui red button" type="submit" name="_decline" value="기각하기"/>
    {% endif %}
  </form>
{% endblock %}

{% block javascript %}
  <script>

  </script>
{% endblock %}