{% extends 'base.html' %}

{% block title %}휴가관리{% endblock %}

{% block stylesheet %}
  <style>
  #remain_vacation {
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 45px;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="ui grid">
    {% for message in messages %}
      <div class="ui {{ message.tags }} message">
        <div class="header"></div>
        <p>{{ message }}</p>
      </div>
    {% endfor %}
    <div class="row">
      <h1 class="ui huge header">
        {{ request.user.get_team_display }} 휴가신청 전체목록
      </h1>
    </div>
    <div class="ui divider"></div>
    <div class="row">
      <table class="ui single line striped selectable table">
        <thead>
        <tr>
          <th>No.</th>
          <th>종류</th>
          <th>상태</th>
          <th>신청자</th>
          <th>기간</th>
        </tr>
        </thead>
        <tbody>
        {% for vacation in vacation_list %}
          <tr>
            <td>
              <a href="{% url 'vacations:detail' vacation.id %}">{{ vacation.id }}</a>
            </td>
            <td>{{ vacation.get_type_display }}</td>
            <td>{{ vacation.get_status_display }}</td>
            <td>{{ vacation.user.name }}</td>
            <td>{{ vacation.start_date|date:"Y년 m월 d일 H:i" }} ~ {{ vacation.end_date|date:"Y년 m월 d일 H:i" }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">휴가 신청이 없습니다.</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}